@tailwind base;
@tailwind components;
@tailwind utilities;

/* bg-color */
body {
  background-color: #fff5ee;
}

/* 스크롤바 안보이기 */
::-webkit-scrollbar {
  display: none;
}

.paragraphStyle {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

/* radio css */

[type="radio"] {
  appearance: none;
  border: max(2px, 0.1em) solid slategray;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  transition: border 0.25s ease-in-out;
}

[type="radio"]:checked {
  border: 0.3em solid #fbbf24
}

[type="radio"]:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) dotted #fbbf24;
}

[type="radio"]:hover {
  box-shadow: 0 0 0 max(4px, 0.4em) white;
  cursor: pointer;
}